@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:wght@900&family=Quicksand&display=swap");
/*
font-family: 'Krona One', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: crosshair;
}

html,
body {
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Montserrat Alternates", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
